@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff') format('woff'),
        url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap; 
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff') format('woff'),
        url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff') format('woff'),
        url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
     


@mixin font-regular {
    font-family: 'AvenirNextLTPro-Regular', Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
}
@mixin font-demi {
    font-family: 'AvenirNextLTPro-Demi', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
} 

@mixin font-bold {
    font-family: 'AvenirNextLTPro-Regular', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}      

