@font-face {
    font-family: 'AvenirNextLTPro-Regular';
    src: url('AvenirNextLTPro-Regular.woff2') format('woff2'),
        url('AvenirNextLTPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNextLTPro-Bold';
    src: url('AvenirNextLTPro-Bold.woff2') format('woff2'),
        url('AvenirNextLTPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'AvenirNextLTPro-Demi';
    src: url('AvenirNextLTPro-Demi.woff2') format('woff2'),
        url('AvenirNextLTPro-Demi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
     


@mixin font-regular {
    font-family: 'AvenirNextLTPro-Regular', Arial, sans-serif;
    font-weight: 200;
    font-style: normal;
}
@mixin font-demi {
    font-family: 'AvenirNextLTPro-Demi', Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
} 

@mixin font-bold {
    font-family: 'AvenirNextLTPro-Regular', Arial, sans-serif;
    font-weight: 700;
    font-style: normal;
}      

