@use "./typography" as *;
@use "./variables" as *;

@mixin title {
    font-family: $font;
    font-size: 1.75rem;
    line-height: 2rem;
    font-weight: 100;
    text-transform: uppercase;
    text-align: center;
}

@mixin subheader {
    font-size: 0.875rem;
    line-height: 1.375rem;
}