$primary-color: #323232;
$secondary-color: #FFFFFF;
$tertiary-color: #AFAFAF;

$hover-color: #000000;
$alt-secondary-color: #E1E1E1;
$alt-tertiary-color: #FAFAFA;

$hero-bg-color: #00000080;

$tablet: 768px;
$desktop: 1280px;

$px4: 0.25rem;
$px10: .625rem;
$px12: .75rem;
$px13: .8125rem;
$px14: .875rem;
$px16: 1rem;
$px20: 1.25rem;
$px24: 1.5rem;
$px32: 2rem;
$px36: 2.25rem;
$px40: 2.5rem;
$px44: 2.75rem;
$px48: 3rem;
$px60: 3.75rem;
$px64: 4rem;
$px68: 4.25rem;
$px72: 4.5rem;
$px96: 6rem;
$px128: 8rem;