@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("AvenirNextLTPro-Regular.woff2") format("woff2"), url("AvenirNextLTPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  color: #323232;
}

h2 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0;
  padding-bottom: 1rem;
}

h4 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
  h4,
  p {
    font-size: 0.875rem;
  }
}
.hero__bg-img {
  padding-top: 6rem;
  position: relative;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
.hero__bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5019607843);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__bg-img {
    display: flex;
    align-items: center;
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero__bg-img {
    height: 70vh;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.hero__h1 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: #FFFFFF;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__h1 {
    padding: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #FFFFFF;
}
.about__title {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.about__blurb {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about__blurb {
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.35rem;
    line-height: 2rem;
  }
  .about__blurb--attrib {
    font-size: 1rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__blurb {
    padding-right: 6rem;
    padding-left: 6rem;
  }
}
.about__image {
  width: 100%;
  padding: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-bottom: 2.25rem;
    padding: 0 4.6875vw;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    width: 81.25vw;
    padding: 0 6rem;
  }
}
.about__h3 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  padding: 1.5rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__h3 {
    font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 1.5rem 4.6875vw 0;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__h3 {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    display: flex;
    gap: 2rem;
    padding: 1.5rem 4.6875vw 0;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    padding: 2rem 0 0;
  }
  .about__text--container {
    width: 81.25vw;
    padding: 2rem 6rem 1rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding: 0 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding: 0 8rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 1rem;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90.625vw;
    margin: 0 auto 2rem;
    gap: 1.5rem;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    width: 81.25vw;
  }
}
.gallery__title {
  margin: 0;
  padding: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 3rem 0 2.25rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-left: 0;
  }
}
.gallery__image {
  width: 90vw;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: calc((90.625vw - 3rem) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: calc((81.25vw - 3rem) / 3);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding: 0 2.25rem 1rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding: 0 8rem;
    margin: 0;
  }
}

.comments-section {
  margin: 0;
  padding: 1.5rem 1rem 1rem;
}
@media screen and (min-width: 768px) {
  .comments-section {
    padding: 0 2.25rem;
  }
}

.comments-section__form {
  display: flex;
  flex-direction: column;
}

.name-field {
  width: 100%;
  min-height: 2.25rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
}

.comment-field {
  resize: none;
  height: 8rem;
  transition: height 0.3s ease;
  width: 100%;
  min-height: 2.25rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
}
@media screen and (min-width: 768px) {
  .comment-field {
    height: 4.5rem;
  }
}

.button {
  height: 2.5rem;
  width: 100%;
  margin-top: 1.5rem;
  color: #FFFFFF;
  background-color: #323232;
  border-radius: 0.25rem;
  text-transform: uppercase;
  font-size: 0.625rem;
}
.button:hover {
  background-color: #000000;
}
@media screen and (min-width: 768px) {
  .button {
    min-width: 9.375rem;
    max-width: 10rem;
    padding: 0.625rem 2rem;
    font-size: 0.75rem;
  }
}

.form__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.625rem;
  padding-bottom: 0.25rem;
}
@media screen and (min-width: 768px) {
  .form__label {
    text-transform: uppercase;
    color: #AFAFAF;
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
  }
}/*# sourceMappingURL=bio.css.map */