@use "partials/global" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

/* 4.6875vw = NOT A RANDOM NUMBER responsive size for content to be correct width & have 36px padding when at 768px */
/* 81.25vw = NOT A RANDOM NUMBER responsive size for content to be correct width & have 36px padding when at 1280px */

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"); 
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-regular;
  margin: 0;
  color: $primary-color;
}
@media screen and (min-width: $tablet) {
  h2 {
    font-size: $px36;
  }
  h4,
  p {
    font-size: $px14;
  }
}
p {
  font-size: $px13;
  line-height: 1.25rem;
  margin: 0;
  padding-bottom: 1rem;
}
h4 {
  @include font-demi;
  font-size: $px14;
  margin: 0;
  line-height: 1.25rem;
}

// HERO SECTION
.hero {
  &__bg-img {
    padding-top: 5rem;
    position: relative;
    background-image: url(../assets/Images/hero-bio.jpg);
    background-size: cover;
    background-position: center;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    @media screen and (min-width: $tablet) {
      display: flex;
      align-items: center;
      height: 45vh;
    }
    @media screen and (min-width: $desktop) {
      height: 70vh;
      padding-left: 8rem;
    }
  }

  &__h1 {
    font-size: $px24;
    line-height: 2rem;
    margin: 0;
    color: $secondary-color;
    padding-top: 6rem;
    padding-bottom: 6rem;
    padding-left: 1rem;
    position: relative;
    z-index: 2;
    @media screen and (min-width: $tablet) {
      @include font-demi;
      font-size: $px60;
      line-height: 4.25rem;
      padding: 0 4.6875vw;
    }
    @media screen and (min-width: $desktop) {
      padding: 0;
    }
  }
}
// ABOUT SECTION
.about {
  margin: 0;
  padding: 0 1rem;

  &__title {
    margin: 0;
    padding: 1.5rem 0 1rem;
    @media screen and (min-width: $tablet) {
      line-height: 2.75rem;
      padding: 3rem 0 2.25rem;
    }
  }
    &__blurb {
        @include font-demi;
        margin: 0;
        padding-bottom: 0;
        @media screen and (min-width: $tablet) {
            padding: 0 4.6875vw 0.75rem;
            font-size: 1.35rem;
            line-height: 2rem;
            &--attrib {
                font-size: $px16;
                padding-bottom: 2.25rem;
            }
        }
        @media screen and (min-width: $desktop) {
            @include desktop-blurb;
            &--attrib {
                @include desktop-blurb;
            }
        }
    }
    &__image {
        width: 90vw;
        padding: 0 0 1rem;
        @media screen and (min-width: $tablet) {
            margin-bottom: 2.25rem;
            padding: 0 4.6875vw;
        }
        @media screen and (min-width: $desktop) {
            width: 81.25vw;
            padding: 0 6rem;
        }
    }
    &__h3 {
      @include font-demi;
      font-size: $px14;
      margin: 0;
      padding: 1.5rem 0 1rem;
      @media screen and (min-width: $tablet) {
        @include font-demi;
        padding: 1.5rem 4.6875vw 0;
        font-size: $px24;
      }
      @media screen and (min-width: $desktop) {
        padding: 0;
      }
    }
    &__text {
        @media screen and (min-width: $tablet) {
            display: flex;
            gap: 2rem;
            padding: 1.5rem 4.6875vw 0; 
        }
        @media screen and (min-width: $desktop) {
            padding: 2rem 0 0;
            &--container {
                width: 81.25vw;
                padding: 2rem 6rem 1rem;
            }
        }
    }
    @media screen and (min-width: $tablet) {
        padding: 0 4.6875vw;
    }
    @media screen and (min-width: $desktop) {
      padding: 0 8rem;
    }
}

// PHOTO GALLERY
.gallery {
  background-color: $alt-tertiary-color;

  &__container {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    margin: 0;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      width: 90.625vw;
      margin: 0 auto 2rem;
      gap: 1.5rem;
      padding: 0;
    }
    @media screen and (min-width: $desktop) {
      width: 81.25vw;
    }
  }
  &__title {
    margin: 0;
    padding: 1.5rem 1rem 1rem;
    @media screen and (min-width: $tablet) {
        padding: $px48 0 $px36;
        margin: 0;
    }
    @media screen and (min-width: $desktop) {
      padding-left: 0;
    }
  }
  &__image {
    width: 90vw;
    @media screen and (min-width: $tablet) {
      width: calc((90.625vw - 48px) / 3);
    }
    @media screen and (min-width: $desktop) {
      width: calc((81.25vw - 48px) / 3);
    }
  }
  @media screen and (min-width: $tablet) {
    margin: 0 4.6875vw $px16;
  }

  @media screen and (min-width: $desktop) {
    padding: 0 8rem;
    margin: 0;
  }
}

