@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  margin: 0;
  color: #323232;
}

h2 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}

p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0;
  padding-bottom: 1rem;
}

h4 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.25rem;
}

@media screen and (min-width: 768px) {
  h2 {
    font-size: 2.25rem;
  }
  h4,
  p {
    font-size: 0.875rem;
  }
}
.hero__bg-img {
  padding-top: 5rem;
  position: relative;
  background-image: url(../assets/Images/hero-bio.jpg);
  background-size: cover;
  background-position: center;
}
.hero__bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5019607843);
  z-index: 1;
}
@media screen and (min-width: 768px) {
  .hero__bg-img {
    display: flex;
    align-items: center;
    height: 45vh;
  }
}
@media screen and (min-width: 1280px) {
  .hero__bg-img {
    height: 70vh;
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.hero__h1 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: #FFFFFF;
  padding-top: 6rem;
  padding-bottom: 6rem;
  padding-right: 1rem;
  padding-left: 1rem;
  position: relative;
  z-index: 2;
}
@media screen and (min-width: 768px) {
  .hero__h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .hero__h1 {
    padding: 0;
  }
}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  background-color: #FFFFFF;
}
.about__title {
  margin: 0;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .about__title {
    line-height: 2.75rem;
    padding-top: 3rem;
    padding-bottom: 2.25rem;
  }
}
.about__blurb {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .about__blurb {
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
    line-height: 2rem;
  }
  .about__blurb--attrib {
    font-size: 1rem;
    padding-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__blurb {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.about__image {
  width: 100%;
  padding: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-bottom: 2.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__image {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.about__h3 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  padding: 1.5rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .about__h3 {
    font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
    font-weight: 600;
    font-style: normal;
    padding-right: 2rem;
    padding-left: 2rem;
    font-size: 1.5rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__h3 {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .about__text {
    display: flex;
    gap: 2rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about__text {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
@media screen and (min-width: 768px) {
  .about {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .about {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.gallery {
  background-color: #FAFAFA;
  padding: 1.5rem 1rem 1rem;
  padding-right: 1rem;
  padding-left: 1rem;
}
.gallery__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .gallery__container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1.5rem;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__container {
    justify-content: center;
  }
}
.gallery__title {
  margin: 0;
  padding: 0 0 1rem;
}
@media screen and (min-width: 768px) {
  .gallery__title {
    padding: 3rem 0 2.25rem;
    margin: 0;
  }
}
@media screen and (min-width: 1280px) {
  .gallery__title {
    padding-left: 0;
  }
}
.gallery__image {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .gallery__image {
    width: calc((100% - 112px) / 3);
  }
}
@media screen and (min-width: 1280px) {
  .gallery__image {
    width: calc((100% - 304px) / 3);
  }
}
@media screen and (min-width: 768px) {
  .gallery {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .gallery {
    padding-right: 8rem;
    padding-left: 8rem;
    margin: 0;
  }
}

.submit-section {
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .submit-section {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .submit-section {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}
.submit-section__title {
  margin: 0;
}
.submit-section__user-pic, .comments-section__user-pic {
  height: 2.25rem;
  width: 2.25rem;
  border-radius: 50%;
  margin: 2.5rem 1rem 0 0;
}
@media screen and (min-width: 768px) {
  .submit-section__user-pic, .comments-section__user-pic {
    height: 3rem;
    width: 3rem;
  }
}
.submit-section__form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
}
.submit-section__form-div {
  display: flex;
  width: 100%;
  justify-content: stretch;
}
@media screen and (min-width: 768px) {
  .submit-section__form-div {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .submit-section__form-div {
    padding-right: 8rem;
    padding-left: 8rem;
  }
}

.button {
  margin-top: 1.5rem;
}

.name-field {
  width: 100%;
  min-height: 2.25rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  padding: 0.75rem;
}
.name-field:focus {
  border-color: #323232;
  outline: none;
}
.name-field__validate:invalid {
  border-color: #D22D2D;
  outline: none;
}
@media screen and (min-width: 768px) {
  .name-field {
    padding: 1rem;
  }
}

.comment-field {
  resize: none;
  height: 8rem;
  transition: height 0.3s ease;
  font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  width: 100%;
  min-height: 2.25rem;
  border: 1px solid #E1E1E1;
  border-radius: 0.25rem;
  padding: 0.75rem;
}
.comment-field:focus {
  border-color: #323232;
  outline: none;
}
.comment-fieldvalidate:invalid {
  border-color: #D22D2D;
  outline: none;
}
@media screen and (min-width: 768px) {
  .comment-field {
    height: 4.5rem;
    padding: 1rem;
  }
}

.form__label {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.625rem;
  padding-bottom: 0.25rem;
  padding-top: 1.5rem;
}
@media screen and (min-width: 768px) {
  .form__label {
    text-transform: uppercase;
    color: #AFAFAF;
    font-size: 0.75rem;
    padding-bottom: 0.25rem;
  }
}

.comments-section {
  padding-right: 1rem;
  padding-left: 1rem;
}
.comments-section__post {
  display: flex;
  padding: 1rem 0;
  width: 100%;
  border-bottom: 1px solid #E1E1E1;
}
.comments-section__post--top-row {
  display: flex;
  justify-content: stretch;
  width: 100%;
}
.comments-section__post--div {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments-section__post {
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
.comments-section__user-pic {
  margin-top: 0;
  flex-shrink: 0;
  background-color: #E1E1E1;
}
.comments-section__name {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  color: #323232;
  margin: 0;
  justify-content: space-between;
  width: 50%;
}
.comments-section__timestamp {
  color: #AFAFAF;
  margin: 0;
  width: 50%;
  padding: 0;
  text-align: right;
}
.comments-section__body {
  padding: 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .comments-section {
    padding-right: 2rem;
    padding-left: 2rem;
    margin-bottom: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .comments-section {
    padding-right: 8rem;
    padding-left: 8rem;
    margin: 0 8rem 2.25rem;
  }
}/*# sourceMappingURL=bio.css.map */