@use "partials/typography" as *; 
@use "partials/variables" as *;
@use "partials/mixins" as *;

body {
    font-family: $font;
    margin: 0;
    padding: 0;

    // @include tablet {}
    // @include desktop {}

}

main {
    // padding: 1rem;
}

header {
    margin: 0;
    width: 100vw;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // @include tablet {}
    // @include desktop {}

   
    nav {
        width: 90vw;
        padding: 1rem;

        .title--h5 {
            @include page-header;
            margin: 0;
            padding-bottom: 1rem;
        }
        ul {
            text-align: center;
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin: auto;
            padding: 0;
        }
        li {
            @include sub-header;
            width: 50%;
            text-align: center;
        }
        a {
            text-decoration: none;
            color: $secondary-color;

        }
        // padding: 1rem 2rem;
    }

    

    
}

.hero {
    

    &__bg-img {
        background-image: url(../assets/Images/hero-bio.jpg);
        background-size: cover;
    }
    
    // @include tablet {}
    // @include desktop {}

}

.about {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        padding: 1rem 1rem 0 1rem;
    }
    &__title{
        @include section-header;
        width: 90vw;

        padding: 1.5rem 1rem 1rem;
    }
    &__blurb {
        @include sub-header;
        font-family: $font-demi;
        padding: 1.5rem 1rem 0;
    } 
 
    &__image {
        margin: 0 1rem;
        width: 90vw;
    }
    &__h3 {
        @include sub-header;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
    }
    &__bio {
        @include body-copy;
        padding-bottom: 1rem;
    }
    // @include tablet {}
    // @include desktop {}

}
.gallery {
    padding: 1.5rem 1rem 1rem;
    background-color: $alt-tertiary-color;

    &__title {
        @include section-header;
 
    }

    &__image {
        width: 90vw;
        margin: 1rem auto 0;
    }
    // @include tablet {}
    // @include desktop {}

}

.footer {
    margin: 0;
    padding: 1rem;
    color: $secondary-color;
    background-color: $primary-color;

    &__title {
        @include section-header;
        padding: 1.5rem 0 1rem;
    }
    // @include tablet {}
    // @include desktop {}
    .contact {
        &__name {
            @include sub-header;
            font-family: $font-demi;
            padding: 0;
            line-height: 1.25rem;
        }
        &__company {
            @extend .contact__name;
        }
        &__location {
            @include body-copy;
            padding: 1rem 0;
        }
        &__link {
            text-decoration: none;
            color: $secondary-color;
        }
        &__email {
            @include body-copy;
            padding-bottom: 1.5rem;
        }
    }

    .title--h5 {
        @include page-header;
        margin: 0;
        padding-top: 1.5rem;
        padding-bottom: 1rem;
        text-align: left;
    }
    &__copyright {
        @include label-or-button;
    }
}