@use "partials/typography" as *; 
@use "partials/variables" as *;
@use "partials/mixins" as *;

body {
    font-family: $font;
    margin: 0;
    padding: 0;

    // @include tablet {}
    // @include desktop {}

}

main {
    padding: 1rem;
}

header {
    margin: 0;
    width: 100vw;
    background-color: $primary-color;
    color: $secondary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    // @include tablet {}
    // @include desktop {}

   
    nav {
        width: 90vw;
        padding: 1rem;

        .title--h5 {
            @include title;
            margin: 0;
            padding-bottom: 1rem;
        }
        ul {
            text-align: center;
            list-style: none;
            display: flex;
            justify-content: space-around;
            margin: auto;
        }
        li {
            @include subheader;
            text-decoration: none;
            color: $secondary-color;
            width: 50%;
            text-align: center;
        }
    }

    &__nav--link {
        // padding: 1rem 2rem;
    }

    
}

.hero {
    
    
    // @include tablet {}
    // @include desktop {}

}

.about {
    
    display: flex;
    flex-direction: column;
    align-items: center;

    &__intro {
        padding: 1rem;
    }
    &__title{
        width: 90vw;
        padding-left: 1rem;
    }
    &__blurb {
        // mixin for font style
        @mixin blurb {
            line-height: 1.125rem;
        }

        font-family: $font-demi;
        padding: 1rem 1rem 0 1rem;
        margin: 0;

    }
    &__image {
        margin: 0 1rem;
        width: 90vw;
    }
    // @include tablet {}
    // @include desktop {}

}

.gallery {
    

    &__image {
        width: 90vw;
        margin: 1rem auto 0;
    }
    // @include tablet {}
    // @include desktop {}

}

footer {
    margin: 0;
    padding: 1rem;
    color: $secondary-color;
    background-color: $primary-color;
    // @include tablet {}
    // @include desktop {}

}