@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"); /*CHECK THIS SRC*/
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 600;
  font-style: bold;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"); /*CHECK THIS SRC*/
  font-weight: 200;
  font-style: normal;
  margin: 0;
}

@media screen and (min-width: 768px) {
  h2 {
    font-family: "AvenirNextLTPro-Demi";
    src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
    font-weight: 400;
    font-style: normal;
    font-size: 2.25rem;
  }
  h4,
  p {
    font-size: 0.875rem;
  }
}
p {
  font-size: 0.8125rem;
  line-height: 1.25rem;
  margin: 0;
  padding-bottom: 1rem;
}

h4 {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.25rem;
}

.header {
  display: flex;
  justify-content: center;
  color: #FFFFFF;
  background-color: #323232;
  margin: 0;
  padding: 0 2.25rem;
  width: 100vw;
  position: fixed;
  z-index: 999;
}
.header__nav {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0 4.6875vw 0;
  width: 100vw;
  align-items: center;
  justify-content: baseline;
}
@media screen and (min-width: 768px) {
  .header__nav {
    flex-direction: row;
    justify-content: left;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav {
    padding-left: 0;
  }
}
.header__nav--logo {
  margin: 0;
  padding-top: 1rem;
}
@media screen and (min-width: 768px) {
  .header__nav--logo {
    padding-top: 0;
    padding-right: 2.25rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--logo {
    padding-right: 3rem;
  }
}
.header__nav--links {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 768px) {
  .header__nav--links {
    justify-content: left;
    text-align: center;
    align-items: baseline;
  }
}
.header__nav--link {
  color: #E1E1E1;
  text-decoration: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .header__nav--link {
    align-items: baseline;
    color: #FFFFFF;
  }
}
.header__nav-bio {
  padding: 1rem;
  display: inline;
  margin: auto;
  text-align: center;
  width: 50vw;
  color: #FAFAFA;
  border-bottom: 0.25rem solid #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__nav-bio {
    padding: 1.5rem 0;
    width: auto;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav-bio {
    padding: 1.75rem 0;
  }
}
.header__nav--shows {
  font-family: "AvenirNextLTPro-Regular";
  src: url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype"); /*CHECK THIS SRC*/
  font-weight: 200;
  font-style: normal;
  padding: 1rem;
  display: inline;
  margin: auto;
  text-align: center;
  width: 50vw;
  color: #FAFAFA;
  color: #FAFAFA;
  border-bottom: 0.25rem solid transparent;
}
.header__nav--shows:hover {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  transition: border-bottom 0.5s ease-in-out;
  border-bottom: 0.25rem solid white;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header__nav--shows {
    margin: 0 2rem;
    padding: 1.5rem 0;
    width: 4rem;
  }
}
@media screen and (min-width: 1280px) {
  .header__nav--shows {
    padding: 1.75rem 0;
  }
}
.header__nav--active {
  font-family: "AvenirNextLTPro-Demi";
  src: url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .header {
    justify-content: flex-start;
    padding: 0;
  }
}
@media screen and (min-width: 1280px) {
  .header {
    padding-left: 8rem;
  }
}

.footer {
  background-color: #323232;
  color: white;
  padding: 0 1rem;
}
.footer__title {
  margin: 0;
  padding: 1.5rem 0 1rem;
}
@media screen and (min-width: 768px) {
  .footer__title {
    padding: 0;
  }
}
.footer__logo {
  padding: 1.75rem 0 1rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .footer__logo {
    position: absolute;
    top: 0.25rem;
    right: 0rem;
    padding: 0;
  }
}
.footer__socials {
  padding-bottom: 1rem;
}
.footer__socials--icon {
  padding: 0 1.5rem 0 0;
}
@media screen and (min-width: 768px) {
  .footer__socials {
    display: flex;
    padding: 1rem 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__socials {
    padding: 1rem 4rem;
  }
}
.footer .contact__company {
  padding-bottom: 1rem;
}
.footer .contact__link {
  text-decoration: none;
  color: white;
  cursor: pointer;
}
.footer__contact {
  width: 13rem;
}
.footer__copyright {
  font-size: 0.625rem;
  line-height: 1.25rem;
}
@media screen and (min-width: 768px) {
  .footer__copyright {
    font-size: 0.8125rem;
    line-height: 1.25rem;
    padding: 1.5rem 0 0;
  }
}
@media screen and (min-width: 768px) {
  .footer__container {
    position: relative;
  }
}
@media screen and (min-width: 768px) {
  .footer__container--header {
    display: flex;
    padding-bottom: 1.5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__container--contacts {
    display: flex;
    gap: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .footer__container--contacts {
    gap: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 2.25rem 4.6875vw;
  }
}
@media screen and (min-width: 1280px) {
  .footer {
    padding: 3rem 10vw;
  }
}/*# sourceMappingURL=global.css.map */