@use "partials/global" as *;
@use "partials/variables" as *;
@use "partials/mixins" as *;

@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("AvenirNextLTPro-Regular.woff2") format("woff2"), url("AvenirNextLTPro-Regular.woff") format("woff"),
       url("../assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("AvenirNextLTPro-Bold.woff2") format("woff2"), url("AvenirNextLTPro-Bold.woff") format("woff"),
       url("../assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("AvenirNextLTPro-Demi.woff2") format("woff2"), url("AvenirNextLTPro-Demi.woff") format("woff"),
       url("../assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include font-regular;
  margin: 0;
  
}
@media screen and (min-width: $tablet) {
  h2 {
    @include font-demi;
    font-size: $px36;
  }
  h4,
  p {
    font-size: $px14;
  }
}
p {
  font-size: $px13;
  line-height: 1.25rem;
  margin: 0;
  padding-bottom: 1rem;
}
h4 {
  @include font-demi;
  font-size: $px14;
  margin: 0;
  line-height: 1.25rem;
}

.header {
  display: flex;
  justify-content: center;
  color: $alt-secondary-color;
  background-color: $primary-color;
  margin: 0;
  padding: 0 $px36;
  width: 100vw;
  position: fixed;
  z-index: 999;

  &__nav {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0 4.6875vw 0;
    width: 100vw;
    align-items: center;
    justify-content: baseline;
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      justify-content: left;
    }
    @media screen and (min-width: $desktop) {
        padding-left: 0;
    }
    &--logo {
        margin: 0;
        padding-top: $px16;
        @media screen and (min-width: $tablet) {
            padding-top: 0;
            padding-right: $px36;
        }
        @media screen and (min-width: $desktop) {
            padding-right: $px48;
        }
    }
    &--links {
      display: flex;
      justify-content: center;
      margin: 0;
      padding: 0;
      @media screen and (min-width: $tablet) {
        justify-content: left;
        text-align: center;
        align-items: baseline;
      }
    }
    &--link {
        color: $alt-secondary-color;
        text-decoration: none;
        cursor: pointer;
        @media screen and (min-width: $tablet) {
            align-items: baseline;
        }
    }
    &-bio {
        @include nav-link;
        border-bottom: 0.25rem solid $secondary-color;
        @media screen and (min-width: $tablet) {
            // margin: 0 2rem;
            padding: $px24 0;
            width: auto;
      }
      @media screen and (min-width: $desktop) {
            @include desktop-h-links-padding;
      }
    }
    &-item {
        @include font-regular;
        @include nav-link;
         border-bottom: 0.25rem solid transparent;

         &:hover {
            @include font-demi;
            transition: border-bottom 0.5s ease-in-out;
            border-bottom: 0.25rem solid white;
            color: $secondary-color;
        }
        @media screen and (min-width: $tablet) {
            margin: 0 2rem;
            padding: $px24 0;
            width: 4rem;
        }
        @media screen and (min-width: $desktop) {
            @include desktop-h-links-padding;
        }
    }
    &--active {
      @include font-demi;
      color: $secondary-color;
      border-bottom: 0.25rem solid $secondary-color;
    } 
  }
  @media screen and (min-width: $tablet) {
    justify-content: flex-start;
    padding: 0;

  }
  @media screen and (min-width: $desktop) {
    padding-left: 8rem;

  }
}


// FOOTER
.footer {
    background-color: $primary-color;
    color: $secondary-color;
    @include mobile-padding-x;

    &__title {
        margin: 0;
        @include mobile-padding-y;
        @media screen and (min-width: $tablet) {
            padding: 0;
        }
    }
    &__logo {
      padding: 1.75rem 0 $px16;
      margin: 0;
      
      @media screen and (min-width: $tablet) {
        position: absolute;
        top: $px4;
        right: 0;
        padding: 0;
      }
    }
    &__socials {
      padding-bottom: $px16;
      &--icon {
        padding: 0 $px32 0 0;
      }
      @media screen and (min-width: $tablet) {
        display: flex;
        @include tablet-padding-x;
        padding-top: $px16;
      }
      @media screen and (min-width: $desktop) {
        padding: $px16 $px64;
      }
    }
    .contact__company {
      padding-bottom: $px16;
    }
    .contact__link {
      text-decoration: none;
      color: $secondary-color;
      cursor: pointer;
    }
    &__contact {
        width: 13rem;
    }
    &__copyright {
      font-size: $px10;
      line-height: $px20;
      @media screen and (min-width: $tablet) {
        font-size: $px13;
        line-height: $px20;
        padding: $px24 0 0;
      }
    }
    &__container {
      @media screen and (min-width: $tablet) {
        position: relative;
      }
      &--header {
        @media screen and (min-width: $tablet) {
          display: flex;
          padding-bottom: $px24;
        }
      }
      &--contacts {
        @media screen and (min-width: $tablet) {
          display: flex;
          gap: $px32;
        }
        @media screen and (min-width: $desktop) {
          gap: $px64;
        }
      }
    }
    @media screen and (min-width: $tablet) {
      @include tablet-padding-y;
      @include tablet-padding-x;
    }
    @media screen and (min-width: $desktop) {
      @include desktop-padding-y;
      @include desktop-padding-x;
    }
  }
  