@use "partials/typography" as *; 
@use "partials/variables" as *;

body {
    font-family: $font;
    margin: 0;
    padding: 0;

    // @include tablet {}
    // @include desktop {}

}

header {


    // @include tablet {}
    // @include desktop {}

}

.hero {
    
    
    // @include tablet {}
    // @include desktop {}

}

.about {

    // @include tablet {}
    // @include desktop {}

}

.gallery {

    // @include tablet {}
    // @include desktop {}

}

footer {

    // @include tablet {}
    // @include desktop {}

}