@use "./partials/global" as *;
@use "./partials/mixins" as *;
@use "./partials/variables" as *;

// HERO SECTION

.shows-hero {
  &__container {
    @include mobile-padding-x;
    // padding-top: $px96;
    display: flex;
    background-image: url(../assets/images/hero-shows.jpg);
    background-size: cover;
    position: relative;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: $hero-bg-color;
      z-index: 1;
    }
    @media screen and (min-width: $tablet) {
      @include tablet-padding-x;
    }
    @media screen and (min-width: $desktop) {
      @include desktop-padding-x;
      align-items: center;
    }
  }
  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: $px80;

    @media screen and (min-width: $desktop) {
      flex-direction: row;
      height: 75vh;
      align-items: center;
      justify-content: space-between;
    }
    &--text {
      width: 75%;
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $tablet) {
        width: 60%;
      }
      @media screen and (min-width: $desktop) {
        width: 50%;
        justify-content: flex-start;
      }
    }
  }
  &__h1 {
    @include font-demi;
    font-size: $px24;
    line-height: $px32;
    margin: 0;
    color: $secondary-color;
    position: relative;
    z-index: 2;
    @include mobile-padding-y;
    @media screen and (min-width: $tablet) {
      font-size: $px60;
      line-height: $px68;
    }
    @media screen and (min-width: $desktop) {
      padding: 0;
    }
  }
  &__h3 {
    @include font-regular;
    color: $secondary-color;
    margin: $px48 0 0;
    z-index: 3;
    position: relative;
    @media screen and (min-width: $tablet) {
      font-size: $px24;
    }
    @media screen and (min-width: $desktop) {
      margin: 0;
    }
  }
  &__player {
    margin: 0 0 $px32;
    width: 100%;
    z-index: 4;
    border-radius: $px4;
    @media screen and (min-width: $tablet) {
      width: 50%;
    }
    @media screen and (min-width: $desktop) {
      height: $px136;
      margin: $px36 0 0;
      width: 40%;
    }
  }
}

.shows {
  display: flex;
  flex-direction: column;
  @include mobile-padding-y;
  position: relative;
  &__title {
    @include font-demi;
    margin: 0;
    @include mobile-padding-x;
    @media screen and (min-width: $tablet) {
      padding: $px16 0 0;
    }
  }
  &__container {
    @media screen and (min-width: $tablet) {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      width: 100%;
      justify-items: space-between;
    }
    @media screen and (min-width: $desktop) {
      width: 75%;
    }
  }
  &__card {
    display: flex;
    flex-direction: column;
    padding-bottom: $px16;
    border-bottom: 1px solid $alt-secondary-color;
    @include mobile-padding-x;
    @include mobile-padding-y;

    &--info-div {
      display: flex;
      flex-direction: column;
      @media screen and (min-width: $tablet) {
        width: 100%;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
      }
      @media screen and (min-width: $desktop) {
        align-items: self-end;
      }
    }
    &-label {
      &--date,
      &--venue,
      &--location {
        text-transform: uppercase;
        color: $tertiary-color;
        font-size: $px10;
        padding-bottom: $px8;
        margin: 0;
        @media screen and (min-width: $tablet) {
          display: none;
        }
      }
    }
    .label__first-row {
      @media screen and (min-width: $tablet) {
        display: block;
        padding-bottom: $px32;
      }
    }
    &-body {
      &--date {
        @include font-demi;
      }
      &--date,
      &--venue,
      &--location {
        margin-bottom: $px8;
        @media screen and (min-width: $tablet) {
          padding-bottom: 0;
        }
      }
    }
    &__divider {
      border-width: 1px;
      border-color: $alt-secondary-color;
    }

    &--inner-div {
      flex-direction: column;
    }
    @media screen and (min-width: $tablet) {
      flex-direction: row;
      align-items: self-end;
      justify-content: space-between;
      padding-top: $px4;
    }
    @media screen and (min-width: $desktop) {
      width: 60vw;
    }
    &--selected {
      background-color: $alt-secondary-color;
    }
    &:hover {
      background-color: $alt-tertiary-color;
    }
    .button {
      @media screen and (min-width: $tablet) {
        margin: 0 0 0 $px48;
      }
      @media screen and (min-width: $desktop) {
        margin: $px16 0 0 $px48;
      }
    }
  }
  @media screen and (min-width: $tablet) {
    flex-direction: column;
    justify-content: space-between;
    @include tablet-padding-x;
  }
  @media screen and (min-width: $desktop) {
    flex-direction: row;
    @include desktop-padding-x;
    @include desktop-padding-y;
  }
}
