@font-face {
  font-family: "AvenirNextLTPro-Regular";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Regular.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Bold";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Bold.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "AvenirNextLTPro-Demi";
  src: url("/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff2") format("woff2"), url("/assets/Font/avenir-woffs/AvenirNextLTPro-Demi.woff") format("woff"), url("/assets/Font/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
.shows-hero__bg-img {
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 6rem;
  display: flex;
  flex-direction: column;
  background-image: url(../assets/Images/hero-shows.jpg);
  background-size: cover;
  justify-content: center;
  position: relative;
}
.shows-hero__bg-img::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(50, 50, 50, 0.5019607843);
  z-index: 1;
}
.shows-hero__heading {
  width: 75%;
}
.shows-hero__h1 {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 0;
  color: #FFFFFF;
  position: relative;
  z-index: 2;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .shows-hero__h1 {
    font-size: 3.75rem;
    line-height: 4.25rem;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows-hero__h1 {
    padding: 0;
  }
}
.shows-hero__h3 {
  font-family: "AvenirNextLTPro-Regular", Arial, sans-serif;
  font-weight: 200;
  font-style: normal;
  color: #FFFFFF;
  margin: 2rem 0 0;
  z-index: 3;
  position: relative;
}
.shows-hero__player {
  margin: 0 0 2rem;
}

.shows {
  display: flex;
  flex-direction: column;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.shows__title {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
  margin: 0;
  padding-right: 1rem;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .shows__title {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  .shows__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    justify-items: space-between;
  }
}
.shows__card {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  border-bottom: 1px solid #E1E1E1;
  padding-right: 1rem;
  padding-left: 1rem;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.shows__card--info-div {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 768px) {
  .shows__card--info-div {
    flex-direction: row;
    justify-content: space-between;
    padding: 0;
  }
}
.shows__card-label--date, .shows__card-label--venue, .shows__card-label--location {
  text-transform: uppercase;
  color: #AFAFAF;
  font-size: 0.625rem;
  padding-bottom: 0.5rem;
  margin: 0;
}
@media screen and (min-width: 768px) {
  .shows__card-label--date, .shows__card-label--venue, .shows__card-label--location {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .shows__card .label__first-row {
    display: block;
  }
}
.shows__card-body--date {
  font-family: "AvenirNextLTPro-Demi", Arial, sans-serif;
  font-weight: 600;
  font-style: normal;
}
.shows__card-body--date, .shows__card-body--venue, .shows__card-body--location {
  padding-bottom: 0.75rem;
}
.shows__card__divider {
  border-width: 1px;
  border-color: #E1E1E1;
}
.shows__card--inner-div {
  flex-direction: column;
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .shows__card {
    flex-direction: row;
    padding: 0 0 1rem;
    flex-grow: 2 1;
  }
}
@media screen and (min-width: 768px) {
  .shows {
    flex-direction: column;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media screen and (min-width: 1280px) {
  .shows {
    flex-direction: row;
    justify-content: space-between;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}/*# sourceMappingURL=shows.css.map */